:root {
  --grey-bg: #f2f2f2;
  --grey-bg-light: #f7f7f7;
  --grey-border: #d4d4d4;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.modal {
  margin: 30px auto 0;
  border: none;
  border-radius: 12px;
  padding: 0 30px;
  background-color: #fff;
  max-width: 700px;
  width: 100%;
}

.modal::-webkit-scrollbar {
  width: 12px;
}

.modal::-webkit-scrollbar-track {
  background: #d4d4d4;
  border-radius: 0 12px 12px 0;
}

.modal::-webkit-scrollbar-thumb {
  background: #888;
  cursor: auto;
  border-radius: 12px;
}

.modal::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal:focus {
  outline: none;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

button {
  padding: 7px 2px;
  max-width: 200px;
  width: 80%;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

.yellow-btn {
  background-color: #cef5d1;
  color: #000;
}

.purple-btn {
  background-color: #6232ae;
  color: #fff;
}

.grey-btn {
  background-color: #333;
  color: #fff;
}

.red-btn {
  background-color: #ff0000;
  color: #000000;
}

.black-btn {
  background-color: #000000;
  color: #ffffff;
}

button:disabled {
  background-color: #6d6d6d;
  cursor: not-allowed;
}

button:disabled:hover {
  opacity: 1;
}

/* Custom select component */
.custom-select {
  position: relative;
  width: 100%;
  font-family: Arial, sans-serif;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
  padding: 10px;
  cursor: pointer;
}

.custom-select__trigger .arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

.custom-select__options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 10;
}

.custom-select__option {
  padding: 10px;
  cursor: pointer;
}

.custom-select__option:hover {
  background: #f1f1f1;
}

.custom-select__option.selected {
  background: #f1f1f1;
  font-weight: bold;
}

/* CUSTOM ACCORDION */
.accordion {
  margin: 10px 0;

  border-bottom: 3px solid black;
}

.accordion:first-child {
  border-top: 3px solid black;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  /* border-bottom: 1px solid #ccc; */
}

.accordion h4 {
  font-size: 20px;
}

.accordion span {
  font-size: 20px;
}

.accordion-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.generated {
  font-weight: 500;
  color: green;
  cursor: default;
}

@media screen and (max-width: 1700px) {
  main * {
    font-size: 12px !important;
  }
}
